        <header>
            <h1>DT207G -Lab 1</h1>
            <div class="container-hamburger">
                <div id="hamburger-menu">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </div>
            <nav id="main-nav">
                <ul>
                    <li class="current-page"><a href="/">Startsida</a></li>
                    <li><a href="/add">Lägg till kurs</a></li>
                    <li><a href="/about">Om sidan</a></li>
                </ul>
            </nav>
        </header>