<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <script type="module" src="/js/main.js"></script>
    <title>DT207G - Laboration 1
    </title>
</head>

<body>
    <div class="container">
        <%- include("partials/header") %>
        <main>
            <h1>Om sidan</h1>
            <p>Denna webbapplikation är skapad för en laboration i kursen DT207G - Backend-baserad webbutveckling.</p>
            <p>Webbapplikationen har som funktion att lagra högskolekurser i en relationsdatabas och visa dessa som en tabell. Det går även att ta bort kurser från databasen.</p>
            <h2>Databas</h2>
            <p>I denna laboration har SQLite3 används som databas.</p>
            <h2>Slutsats</h2>
            <p>Laborationen har gett insikt i hur en databas kan integreras i ett projekt och hur man dynamiskt kan presentera innehåll från databasen. Samt gett större förståelse hur serverbaserad utveckling kan fungera och hur front- och backend programmering kan samverka i ett projekt.</p>
        </main>
        <footer>
            <p>Skapad av Hanna Lindkvist</p>
        </footer>
    </div> <!--Container slut-->
</body>

</html>