<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <script type="module" src="/js/main.js"></script>
    <title>DT207G - Laboration 1
    </title>
</head>

<body>
    <div class="container">
        <%- include("partials/header") %>
        <main>
            <h1>Om sidan</h1>
            <p>Lite text här om sidan</p>
            <h2>Databas</h2>
            <p>Val av databas</p>
            <h2>Slutsats</h2>
            <p>Text om slutsats</p>
        </main>
        <footer>
            <p>Skapad av Hanna Lindkvist</p>
        </footer>
    </div> <!--Container slut-->
</body>

</html>