<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <script type="module" src="/js/main.js"></script>
    <title>DT207G - Laboration 1
    </title>
</head>

<body>
    <div class="container">
        <%- include("partials/header") %>
        <main>
            <h1>Lägg till kurs</h1>
            <div id="form-course">
                <form id="add-course">
                    <label for="code">Kurskod:</label><br>
                    <input type="text" id="code" name="add-code">
                    <br>
                    <label for="name">Kursnamn:</label><br>
                    <input type="text" id="name" name="add-name">
                    <br>
                    <label for="progression">Progression:</label><br>
                    <input type="text" id="prog" name="add-prog">
                    <br>
                    <label for="syllabus">URL:</label><br>
                    <input type="text" id="syllabus" name="add-syllabus">
                    <br>
                    <input type="submit" value="Spara kurs">
                </form>
            </div>
        </main>
        <footer>
            <p>Skapad av Hanna Lindkvist</p>
        </footer>
    </div> <!--Container slut-->
</body>

</html>